<div>
    <label>
      Credit Card Number
      <input 
        name="credit-card"
        type="text"
        placeholder="Enter your 16-digit card number"
        credit-card>
    </label>

    <label 
      class="tooltipcontainer"
      tooltip="3 digits, back of your card" #myTooltip="global">
      Enter your security code 
      
      <span
        (mouseover)="myTooltip.show()" 
        (mouseout)="myTooltip.hide()">
        (?)
      </span>
      <input type="text">
    </label>
    <!--  -->
    <p>* and sd ngFor</p>
    <div>
        <ul>
            <li *ngFor="let item of items; let i=index">
                {{i}} Member  -  {{item.name}}
            </li>
            <br>
            <template ngFor [ngForOf]="items" let-item let-i="index">
                <li>
                    {{i}} Member  -  {{item.name}}
                </li>
            </template>
        </ul>
    </div>
    <hr>
    <p>* and sd myFor</p>
    <div>
        <ul>
            <li *myFor="let item of items; let i=index, let a=age">
                {{i}} Member  -  {{item.name}} - {{a}}
            </li>
            <br>
            <template myFor [myForOf]="items" let-item let-i="index" let-a="age">
                <li>
                    {{i}} Member  -  {{item.name}} -  {{a}}
                </li>
            </template>
        </ul>
    </div>
  </div>